<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="alert alert-success">
            <h4>Password changed successfully, please login again with your new password</h4>
        </div>
    </div>
</div>
</body>

</html>