<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:CIA_intro.adoc"></div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:CIA_confidentiality.adoc"></div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:CIA_integrity.adoc"></div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:CIA_availability.adoc"></div>
</div>

<div class="lesson-page-wrapper">
    <span id="quiz_id" data-quiz_id="cia"></span>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quiz.css}"/>
    <script th:src="@{/js/quiz.js}" language="JavaScript"></script>
    <link rel="import" type="application/json" th:href="@{/lesson_js/questions.json}"/>
    <div class="adoc-content" th:replace="doc:CIA_quiz.adoc"></div>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <div class="container-fluid">
            <form id="quiz-form" class="attack-form" accept-charset="UNKNOWN"
                  method="POST" name="form"
                  action="cia/quiz" role="form">
                <div id="q_container"></div>
                <br />
                <input name="Quiz_solutions" value="Submit answers" type="SUBMIT"/>
            </form>
        </div>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>

</html>