.attack-container.quiz {
    background: none;
    border: none;
}

#q_container p {
    font-weight: bold;
}

#q_container .quiz_question {
    border: solid 2px white;
    padding: 4px;
    margin: 5px 2px 20px 2px;
    box-shadow: 0px 1px 3px 1px #e4e4e4;
}

#q_container .quiz_question label {
    font-weight: normal;
    position: relative;
    top: -2px;
}

#q_container .quiz_question input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #dadada;
    background: white;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

#q_container .quiz_question input:checked {
    background: #51b7ff;
}

#q_container .quiz_question input:hover,
#q_container .quiz_question label:hover {
    cursor: pointer;
}

#q_container .quiz_question.correct {
    border: solid 2px #ddf7dd;
    background: #ddf7dd;
    transition: all 300ms ease-in-out;
}

#q_container .quiz_question.incorrect {
    border: solid 2px #f5d3d3;
    background: #f5d3d3;
    transition: all 300ms ease-in-out;
}

input[name='Quiz_solutions'] {
    background: white;
    border: 1px solid gray;
    padding: 7px 10px;
    transition: 300ms all ease-in-out;
}

input[name='Quiz_solutions']:hover {
    background: #51b7ff;
    color: white;
    border-color: white;
    transition: 300ms all ease-in-out;
}