<div class="row">
	<div class="col-md-4">
		<form class="attack-form" accept-charset="UNKNOWN" method="POST"
			th:action="@{/SpoofCookie/login}">
			<div style="padding: 20px;" id="password-login">
				<h4 style="border-bottom: 1px solid #c5c5c5;">Account Access</h4>
				<fieldset>
					<div class="form-group input-group">
						<span class="input-group-addon"> <i
							class="glyphicon glyphicon-user"></i>
						</span> <input class="form-control" placeholder="User name"
							name="username" type="text" id="spoof_username"></input>
					</div>
					<div class="form-group input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span> <input class="form-control"
							placeholder="Password" name="password" type="password"
							id="spoof_password" />
					</div>
					<button type="submit" class="btn btn-primary btn-block"
						id="spoof_submit">Access</button>
					<div style="padding-top: 10px">
						<a id="cleanup" href="#" onclick="cleanup();return false;">Delete
							cookie</a>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</div>
