# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- none

pool:
  vmImage: 'vs2017-win2016'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package -DskipTests'


- task: SynopsysDetectTask@2
  inputs:
    Products: 'ALL'
    BlackDuckService: 'hubsig'
    PolarisService: 'sipse'
    DetectVersion: 'latest'
    DetectArguments: |
      --detect.project.name=$(System.TeamProject)
      --detect.project.version.name=$(Build.BuildId)