{
  "version": 1.0,
  "project": "Test-${repo}-${branch}",
  "team": "/CxServer/Connect/Team1",
  "sast": {
    "preset": "OWASP TOP 10 - 2017",
    "incremental": "false",
    "forceScan": "false",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
      "application": "WebgoatTest",
      "branches": ["develop", "main", "master"],
      "emails": ["mgonzalez.emailer@gmail.com"],
      "bugTracker": "JIRA",
      "jira": {
        "project": "WEBT",
        "issue_type": "Bug",
        "assignee": "mgonzalez.emailer@gmail.com",
        "opened_status": ["Open","In Progress"],
        "closed_status": ["Done"],
        "open_transition": "Create",
        "close_transition": "Close Issue",
        "close_transition_value": "Done",
        "priorities": {
          "High": "High",
          "Medium": "High",
          "Low": "High"
        },
        "fields": [
        ]
      },
      "filters": {
        "severity": ["High", "Medium"],
        "status": ["Confirmed", "New", "To Verify"]
      }
    }
  }
}
