{% extends "./layout.html" %} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="announcement-text">Experts recommend having <b>80%</b> income replacement saved for retirement. You are estimated to have <b>61%</b> income replacement given your current information and contribution rate.</p>
                        <p class="announcement-text">The amount you're contributing to your retirement plan really does matter. Consider changing your contribution rate.</p>
                    </div>
                </div>
            </div>
            <a href="/contributions">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Update Contributions
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="announcement-heading text-right">$89,925.12</p>
                        <p class="announcement-text">Total Retirement Savings</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-9 text-right">

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="announcement-heading text-right">$20,600</p>
                        <p class="announcement-text">Required Retirement Income / Month</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">

                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-11">
                        <p class="announcement-heading text-right">$15,630</p>
                        <p class="announcement-text">Estimated Retirement Income / Month</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">

                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Portfolio Performance Statistics</h3>
            </div>
            <div class="panel-body">
                <div id="morris-chart-area"></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


{% endblock %}