<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<script type="text/javascript" th:src="@{/js/jwt.js}"></script>


<div class="container">

    <div class="alert alert-info fade in">

        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p>
            Decode or encode a JWT some of the exercises need to encode or decode a new token
        </p>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="form-group">
            <label for="token">Encoded</label>
            <form id="decodeForm">
            <textarea class="form-control" style="font-size: 14pt; font-family:monospace;" id="token" name="token"
                      rows="4"
                      placeholder="Paste token here" spellcheck="false"></textarea>
            </form>
        </div>
        <form id="encodeForm">
            <div class="form-group">
                <label>Decoded</label>
                <div class="row">
                    <div class="col-xs-6 col-md-5">Header</div>
                    <div class="col-xs-6 col-md-7">Payload</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-5">
                    <textarea class="form-control" style="font-size: 14pt; font-family:monospace;" id="header"
                              name="header"
                              rows="12"></textarea>
                    </div>
                    <div class="col-xs-6 col-md-7">
                    <textarea class="form-control" style="font-size: 14pt; font-family:monospace;" id="payload"
                              name="payload"
                              rows="12"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <br/>
        <div class="input-group">
            <span class="input-group-addon">Secret key</span>
            <input type="text" placeholder="Enter your secret key" class="form-control" id="secretKey">
        </div>

        <div class="input-group">
            <h4 id="signatureValid">Invalid signature</h4>
        </div>


    </div>


</div>
</body>
</html>