<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:JWT_plan.adoc"></div>
</div>
<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:JWT_structure.adoc"></div>
</div>
<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:JWT_login_to_token.adoc"></div>
</div>
<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:JWT_signing.adoc"></div>

    <link rel="stylesheet" type="text/css" th:href="@{/lesson_css/jwt.css}"/>
    <script th:src="@{/lesson_js/bootstrap.min.js}" language="JavaScript"></script>
    <script th:src="@{/lesson_js/jwt-signing.js}" language="JavaScript"></script>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" accept-charset="UNKNOWN"
              method="POST"
              successCallback="jwtSigningCallback"
              action="/WebGoat/JWT/votings/reset"
              enctype="application/json;charset=UTF-8">
            <div class="container-fluid">

                <div class="row">

                    <div class="well">
                        <div class="pull-right">
                            <div class="dropdown">
                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                        title="Change user">
                                    <i class="fa fa-user"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               onclick="javascript:login('Guest')"
                                                               th:text="Guest">current</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               onclick="javascript:login('Tom')"
                                                               th:text="Tom">current</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               onclick="javascript:login('Jerry')"
                                                               th:text="Jerry">current</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               onclick="javascript:login('Sylvester')"
                                                               th:text="Sylvester">current</a></li>
                                </ul>
                                <button type="button" class="btn btn-default fa fa-refresh" title="Refresh votes"
                                        onclick="javascript:getVotings()"/>
                                <button type="submit" class="btn btn-default fa fa-trash-o" title="Reset votes"/>
                            </div>
                            <div>
                                <p class="text-right">Welcome back, <b><span id="name"></span></b></p>
                            </div>
                        </div>

                        <div>
                            <h3>Vote for your favorite</h3>
                        </div>
                        <div id="votesList" class="list-group">

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:JWT_weak_keys"></div>

    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" method="POST" name="form" action="/WebGoat/JWT/secret">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"
                                                      style="font-size:20px"></i></div>
                    <input type="text" class="form-control" id="flag" name="token"
                           placeholder="XXX.YYY.ZZZ"/>
                </div>
                <div class="input-group" style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary">Submit token</button>
                </div>
            </div>

        </form>

        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>

</html>