<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:Challenge_introduction.adoc"></div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:Challenge_1.adoc"></div>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <img th:src="@{/images/webgoat2.png}" class="img-thumbnail"/>
            </div>
            <div class="panel-body">
                <form class="attack-form" accept-charset="UNKNOWN"
                      method="POST" name="form"
                      action="/WebGoat/challenge/1"
                      style="width: 200px;"
                      enctype="application/json;charset=UTF-8">

                    <div class="form-group">
                        <label for="exampleInputEmail1" th:text="#{username}">Username</label>
                        <input autofocus="dummy_for_thymeleaf_parser" type="text" class="form-control"
                               id="exampleInputEmail1" placeholder="Username" name='username' value="admin"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" th:text="#{password}">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password"
                               name='password'/>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" th:text="#{sign.in}">Sign in</button>
                </form>
            </div>
        </div>

        <form class="form-inline" method="POST" name="form" action="/WebGoat/challenge/flag">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"
                                                      style="font-size:20px"></i></div>
                    <input type="text" class="form-control" id="flagInput1"
                           placeholder="a7179f89-906b-4fec-9d99-f15b796e7208"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit flag</button>
        </form>

        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>

<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:Challenge_2.adoc"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/lesson_css/challenge2.css}"/>
    <script th:src="@{/lesson_js/challenge2.js}" language="JavaScript"></script>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" accept-charset="UNKNOWN"
              method="POST" name="form"
              action="/WebGoat/challenge/2"
              enctype="application/json;charset=UTF-8">

            <input id="discount" type="hidden" value="0"/>
            <div class="row">

                <div class="col-xs-3 item-photo">
                    <img style="max-width:100%;" th:src="@{/images/samsung-black.jpg}"/>
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <h3>Samsung Galaxy S8</h3>
                    <h5 style="color:#337ab7"><a href="http://www.samsung.com">Samsung</a> ·
                        <small style="color:#337ab7">(124421 reviews)</small>
                    </h5>

                    <h6 class="title-price">
                        <small>PRICE</small>
                    </h6>
                    <h3 style="margin-top:0px;"><span>US $</span><span id="price">899</span></h3>

                    <div class="section">
                        <h6 class="title-attr" style="margin-top:15px;">
                            <small>COLOR</small>
                        </h6>
                        <div>
                            <div class="attr" style="width:25px;background:lightgrey;"></div>
                            <div class="attr" style="width:25px;background:black;"></div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr">
                            <small>CAPACITY</small>
                        </h6>
                        <div>
                            <div class="attr2">64 GB</div>
                            <div class="attr2">128 GB</div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr">
                            <small>QUANTITY</small>
                        </h6>
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input class="quantity" value="1"/>
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>

                    <div class="section" style="padding-bottom:5px;">
                        <h6 class="title-attr">
                            <small>CHECKOUT CODE</small>
                        </h6>
                        <!--
                          Checkout code: webgoat, owasp, owasp-webgoat
                        -->
                        <input name="checkoutCode" class="checkoutCode" value=""/>

                    </div>

                    <div class="section" style="padding-bottom:20px;">
                        <button type="submit" class="btn btn-success"><span style="margin-right:20px"
                                                                            class="glyphicon glyphicon-shopping-cart"
                                                                            aria-hidden="true"></span>Buy
                        </button>
                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty"
                                              style="cursor:pointer;"></span>
                            Like</a></h6>
                    </div>
                </div>
            </div>

        </form>
        <br/>
        <div>
            <form class="form-inline" method="POST" name="form" action="/WebGoat/challenge/flag">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"
                                                          style="font-size:20px"></i></div>
                        <input type="text" class="form-control" id="flagInpu2"
                               placeholder="a7179f89-906b-4fec-9d99-f15b796e7208"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit flag</button>
            </form>
        </div>

        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>


<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:Challenge_3.adoc"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/lesson_css/challenge3.css}"/>
    <script th:src="@{/lesson_js/challenge3.js}" language="JavaScript"></script>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <div class="panel post">
            <div class="post-heading">
                <div class="pull-left image">
                    <img th:src="@{/images/avatar1.png}"
                         class="img-circle avatar" alt="user profile image"/>
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>John Doe</b></a>
                        uploaded a photo.
                    </div>
                    <h6 class="text-muted time">24 days ago</h6>
                </div>
            </div>

            <div class="post-image">
                <img th:src="@{images/cat.jpg}" class="image" alt="image post"/>
            </div>

            <div class="post-description">

            </div>
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" id="commentInput" placeholder="Add a comment" type="text"/>
                    <span class="input-group-addon">
                                <i id="postComment" class="fa fa-edit"></i>
                            </span>
                </div>
                <ul class="comments-list">
                    <div id="list">
                        <li class="comment">
                            <div class="pull-left">
                                <img class="avatar"
                                     src="http://bootdey.com/img/Content/avatar/avatar1.png"
                                     alt="avatar"/>
                            </div>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John dOE</h4>
                                    <h5 class="time">7 minutes ago</h5>
                                </div>
                                <p>I really love this picture. I really wish i could have been
                                    there.</p>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="pull-left" href="javascript:void(0);">
                                <img class="avatar"
                                     src="http://bootdey.com/img/Content/avatar/avatar2.png"
                                     alt="avatar"/>
                            </div>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John Doe</h4>
                                    <h5 class="time">3 minutes ago</h5>
                                </div>
                                <p>I think I might you this for one of my projects.</p>
                            </div>
                        </li>
                        <li class="comment">
                            <div class="pull-left" href="javascript:void(0);">
                                <img class="avatar"
                                     src="http://bootdey.com/img/Content/avatar/avatar4.png"
                                     alt="avatar"/>
                            </div>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">John Doe</h4>
                                    <h5 class="time">10 seconds ago</h5>
                                </div>
                                <p>Wow! This is gorgeous.</p>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>


        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>


</html>