<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:Challenge_5.adoc"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/lesson_css/challenge6.css}"/>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="active" id="login-form-link">Login</a>
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form" class="attack-form" accept-charset="UNKNOWN"
                                          method="POST" name="form"
                                          action="/WebGoat/challenge/5" role="form">
                                        <div class="form-group">
                                            <input type="text" name="username_login" id="username4" tabindex="1"
                                                   class="form-control" placeholder="Username" value=""/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password_login" id="password4" tabindex="2"
                                                   class="form-control" placeholder="Password"/>
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember"/>
                                            <label for="remember"> Remember me</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit"
                                                           tabindex="4" class="form-control btn-primary"
                                                           value="Log In"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="#" tabindex="5" class="forgot-password">Forgot
                                                            Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <form class="attack-form" method="POST" name="form" action="/WebGoat/challenge/flag">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"
                                                      style="font-size:20px"></i></div>
                    <input type="text" class="form-control" id="flag" name="flag"
                           placeholder="a7179f89-906b-4fec-9d99-f15b796e7208"/>
                </div>
                <div class="input-group" style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary">Submit flag</button>
                </div>
            </div>

        </form>

        <br/>
        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
</div>

</html>