/*
body{ 
	min-width: 800px;
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
	font-family: Verdana,Arial,sans-serif;
	font-size: 120%;
	color: #333333;
}

h2{
	font-size: 114%;
	color: #333333;
}

h3{
	font-size: 100%;
	color: #334d55;
}

h4{
	font-size: 100%;
	font-weight: normal;
	color: #333333;
}

h5{
	font-size: 100%;
	color: #334d55;
}
*/
ul{
	list-style-type: square;
}

ul ul{
	list-style-type: disc;
}

ul ul ul{
	list-style-type: none;
}

#navBar{
	margin: 0 79% 0 0;
	padding: 0px;
	background-color: #999999;
}

#twoCol{
	margin: 0;
	padding-left: 13px;
}

#siteName{
	margin: 0px;
	padding: 0px 0px 10px 10px;
}

#lessonName{
	padding: 5px 0px 10px 10px;
}

#globalNav{
	color: #cccccc;
	padding: 0px 10px;
	white-space: nowrap;
}

#globalNav img{
	display: block;
}

#globalNav a {
	font-size: 10px;
	padding: 0px 4px 0px 0px; 
}

.lessonContent{
	padding: 10px 10px 10px 10px; 
	font-size: 10px;
}

.lessonText h3{
	padding: 30px 0px 5px 0px;
	text-align: center;
}

.lessonText img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0 5px 5px 0;
}

#bottom{
	color: #999999;
	clear: both;
	font-size: 10px;
	padding-top: 5px;
}

#navBar ul a:link, #navBar ul a:visited {}

#navBar ul {
	list-style: none; 
	margin: 0; 
	padding: 0;
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {}

/* fix for browsers that don't need the hack */
html>body #navBar li {}

#top{
	height:136px;
	background-image: url(img/header/header.jpg);
	width: 800px;
}

#top_challenge{
	height:136px;
	width: 800px;
}

#topLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: small;
}

#topLinks h3{
	padding: 10px 0px 2px 10px;
}

#topLinks a:link{
	padding: 2px 0px 2px 10px;
	width: 100%;
	voice-family:inherit;
	width: auto;
}

#topLinks a:visited{
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#topLinks a:hover{
	background-color: #FFFFFF;
	padding: 5px 2px 2px 10px;
}

#menuSpacer {
	float: left;
	width: 225px;
}

#lessonArea {
	float: right;
	width: 540px;
	height: 100%;
	padding: 10px;
}
#lessonAreaTop {
	float: right;
	width: 540px;
	height: 15px;
	padding: 10px;
}

#wrap {
	width: 800px;
	word-wrap:break-word; /* Fixes IE wrapping issue */
}

#topRight {
	position:absolute;
	left:380px;
	top:0px;
	width:400px;
	height:23px;
	z-index:3;
	float: right;
}

#topLeft {
	position:absolute;
	left:100px;
	top:0px;
	width:400px;
	height:23px;
	z-index:3;
	float: right;
}
#topRightInner {
	position:absolute;
	left:450px;
	top:10px;
	width:300px;
	height:23px;
	z-index:4;
	float: right;
}

.info {
	color: red; 
	font-weight: bold;
}

#reset {
	text-align: right;
	font-weight: bold;
	float: right;
	display: inline;
	margin-bottom: 10px;
}

#training {
	text-align: left;
	font-weight: bold;
	display: inline;
	float: left;
	margin-bottom: 10px;
	
}

#training_wrap {
	width: 540px;
}

#hint{}
#parameter{}
#cookie{}
#message{
	margin-bottom: 20px;
	margin-top: 10px;
}

#lessonPlans {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	margin: 15px;
	padding: 25px;
	padding-bottom: 75px;
}

#credits {
	float: right;
}

#start {
	height: 370px;
	width: 700px;
	padding: 10px 50px 10px 50px;
	font-size: 15px;
}
#warning {
	border: 1px solid #666666;
	padding: 10px;
	font-size: 10px;
	color: #FF3300;
	width: 600px;
	margin-left: 100px;
	margin-right: 100px;
}
#team {
	width: 580px;
	margin-right: 50px;
	margin-left: 50px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.style1 {
	font-size: 11px;
	font-weight: bold;
}
.style2 {
	font-size: 10px;
}
