<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div class="lesson-page-wrapper">
	<div class="adoc-content" th:replace="doc:CrossSiteScriptingMitigation_plan.adoc"></div>
</div>

<div class="lesson-page-wrapper">
	<div class="adoc-content" th:replace="doc:CrossSiteScripting_content8.adoc"></div>
</div>

<div class="lesson-page-wrapper">
	<div class="adoc-content" th:replace="doc:CrossSiteScripting_content8a.adoc"></div>
	<div class="attack-container" style="height: 300px; border: none !important">
		<div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
		<form class="attack-form" accept-charset="UNKNOWN" method="POST" name="form" action="/WebGoat/CrossSiteScripting/attack3" enctype="application/json;charset=UTF-8">
			<div>
				<div id="editor" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" name="editor"></div>
				<script th:src="@{/js/libs/ace/src-noconflict/ace.js}" type="text/javascript" charset="utf-8"></script>
				<script th:src="@{/lesson_js/assignment3.js}" type="text/javascript" charset="utf-8"></script>
				<script>
                    var editor = ace.edit("editor");
                    editor.setTheme("ace/theme/monokai");
                    editor.session.setMode("ace/mode/html");
				</script>
			</div>
			<div class="input-group" style="margin-top: 10px">
				<button type="button" class="btn btn-primary" style="margin-top: 350%; margin-left: 60%;" onclick="ace_collect()">Submit</button>
			</div>
		</form>
		<div class="attack-feedback"></div>
		<div class="attack-output"></div>
	</div>
</div>

<div class="lesson-page-wrapper">
	<div class="adoc-content" th:replace="doc:CrossSiteScripting_content9.adoc"></div>
</div>

</html>