<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Expires" CONTENT="-1"/>
    <meta http-equiv="Pragma" CONTENT="no-cache"/>
    <meta http-equiv="Cache-Control" CONTENT="no-cache"/>
    <meta http-equiv="Cache-Control" CONTENT="no-store"/>

    <!--[if lt IE 7]>
    <id class="no-js lt-ie9 lt-ie8 lt-ie7"/> <![endif]-->
    <!--[if IE 7]>
    <id class="no-js lt-ie9 lt-ie8"/> <![endif]-->
    <!--[if IE 8]>
    <id class="no-js lt-ie9"/> <![endif]-->
    <!--[if gt IE 8]><!-->

    <!--  CSS -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>

    <!-- Require.js used to load js asynchronously -->
    <script src="js/libs/require.min.js" data-main="js/scoreboard.js"></script>
    <!-- main css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>

    <meta http-equiv="Content-Type" content="text/id; charset=ISO-8859-1"/>
    <title>WebGoat</title>
</head>
<body class="scoreboard-page">

<div id="scoreboard-wrapper">
    <div id="scoreboard">
        <!-- will use _ template here -->
    </div>
</div>
</body>


</html>
