<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>WebWolf</title>
    <div th:fragment="header-css">
        <link rel="shortcut icon" th:href="@{/css/img/webwolf.ico}" type="image/x-icon"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/webwolf.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">WebWolf</a>

        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/files}">Files</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/mail}">Mailbox</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/requests}">Incoming requests</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/jwt}">JWT</a></li>
        </ul>
        <ul class="navbar-nav position-absolute end-0 mx-3">
            <li class="nav-item"><a class="nav-link" href="#">
                        <span sec:authorize="isAuthenticated()">
                        <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${#authentication.name}"></span></span></a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">
                        <span sec:authorize="isAuthenticated()">
                        Sign out</span></a>
            </li>
        </ul>
</div>

</nav>
</div>

</body>
</html>
