<div>
    <div class="page-link-wrapper">
        <span class="glyphicon-class glyphicon glyphicon-circle-arrow-left show-prev-page"></span>
        <% var baseUrl = overview.baseUrl; %>
        <% _.each(overview.pages, function(page,index) { %>
            <a href="<%=overview.baseUrl%>/<%=index%>"  alt="Page <%=index++ %>" class="no-underline">
            <% if (page.content === 'assignment') { %>
                <div class="<%=page.pageClass%> <%=page.solvedClass%> <%=page.curPageClass%>"><%=index++%></div>
            <% } else { %>
                <div class="<%=page.pageClass%> <%=page.curPageClass%>"><%=index++%></div>
            <% } %>
            </a>
        <% }); %>
        <span class="glyphicon-class glyphicon glyphicon-circle-arrow-right show-next-page"></span>
    </div>
</div>