<div class="panel panel-default" style="margin-top:25px">
    <div class="panel-heading alt"><b>Overview</b></div>

    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Total number of lessons</td>
            <td width="70%"><%= totalNumberOfLessons %></td>
        </tr>
        <tr>
            <td width="30%">Total number of lessons solved</td>
            <td width="70%"><%= numberOfLessonsSolved %></td>
        </tr>
        <tr>
            <td width="30%">Total number of assignments</td>
            <td width="70%"><%= totalNumberOfAssignments %></td>
        </tr>
        <tr>
            <td width="30%">Total number of assignments solved</td>
            <td width="70%"><%= numberOfAssignmentsSolved %></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="panel panel-default" style="margin-top:25px">
    <div class="panel-heading"><b>Lesson overview</b></div>
    <table class="table">
        <thead>
        <tr>
            <th>Lesson name</th>
            <th>Solved</th>
            <th>Number of attempts</th>
        </tr>
        </thead>
        <tbody>
        <% _(lessonStatistics).each(function(lesson) { %>
        <%= lesson.solved ? '<tr class="success">' : '<tr>' %>
            <td><%= lesson.name %></td>
            <td><%= lesson.solved %></td>
            <td><%= lesson.numberOfAttempts %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>