<table class="scoreboard-table">
    <% _.each(rankings, function(userRanking, index) { %>
    <tr>
        <th class="username"> <div class="scoreboard-username"><%= index+1%> - <%=userRanking.username %> </div></th>
        <td class="user-flags"> <% _.each(userRanking.flagsCaptured, function(flag) { %>

             <div class="captured-flag">
                 <i class="fa fa-flag" aria-hidden="true"></i>
                 <%=flag%> </div>
            <% }); %>
        </td>
    </tr>
    <% }); %>
</table>
