name: AccuKnox SAST Scan (2 Branches)

on:
  workflow_dispatch:

jobs:
  sast-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Run AccuKnox SAST OpenGrep
        uses: accuknox/sast-scan-opengrep-action@latest
        with:
          accuknox_endpoint: ${{ secrets.ACCUKNOX_ENDPOINT }}
          accuknox_token: ${{ secrets.ACCUKNOX_TOKEN }}
          accuknox_label: ${{ secrets.ACCUKNOX_LABEL }}

          repo_name: ${{ github.repository }}
         


          
