# This is a basic workflow to help you get started with Actions

name: CIff

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run:
          echo Add other actions to build,
          echo test, and deploy your project.
      - name: Checkmarx AST Github Action
      # You may pin to the exact commit or the version.
      # uses: Checkmarx/ast-github-action@f22acd61edefe70d5b5987286954ad9b25971c33
        uses: Checkmarx/ast-github-action@2.0.1
        with:
          # Provide the AST portal URL
          base_uri: https://ast.checkmarx.net
          # Provide the Tenant for AST portal URL
          cx_tenant: dp_wp_na
          # Client ID for AST portal authentication
          cx_client_id: ${{ secrets.CLIENT_ID }}
          # Secret key for AST portal authentication
          cx_client_secret: ${{ secrets.SECRET }}
          # Select a Checkmarx Project Name
          project_name: WebGoat
          # Branch name
 #         branch: # optional, default is ${{ github.ref }}
          # GitHub API Token
  #        github_token: # optional, default is ${{ github.token }}
          # Additional parameters for AST scan
   #       additional_params: # optional, default is 
