name: CI-pec

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ShiftLeftSecurity/scan-action@master
        with:
          type: "credscan,java,depscan,bash,yaml"
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots verify
