name: CI-pec

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: ShiftLeftSecurity/scan-action@master
        with:
          type: "credscan,java,depscan"
