name: Test IDToken

on:
  push:

permissions:
  id-token: write
  contents: read
  
jobs:
  job:
    environment: Production
    runs-on: ubuntu-latest
    steps:
    - name: Install OIDC Client from Core Package
      run: npm install @actions/core@1.10.1 @actions/http-client@2.2.0
    - name: Get ID Token
      uses: actions/github-script@v6
      id: idtoken
      with:
        script: |
          const coredemo = require('@actions/core')
          let id_token = await coredemo.getIDToken()
          coredemo.setOutput('id_token', id_token)
          await core.summary.addDetails('Token', JSON.stringify(id_token))
